@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Scene {
  @apply relative h-full w-full;

  .back {
    background-image: var(--scene-backView);
  }

  .middle {
    background-image: var(--scene-middleView);
  }

  .front {
    background-image: var(--scene-frontView);
  }

  .view {
    background-position-x: 0%;
    background-size: auto 100%;

    @apply pointer-events-none absolute top-0 left-0 h-full w-full;
  }

  .moon {
    top: 15%;
    left: 50%;
    width: (unit(image-width(@img))) / 2080 * 100%;

    @img: "'../../../public/scene-moonlitSnowfield-moon.png";
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-moonlitSnowfield-moon);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }
}
