@import 'tailwindcss';

@theme {
  --color-primary-blue: #00367c;
  --color-secondary-blue: #0093ff;
  --color-secondary-green: #52c890;
  --color-secondary-orange: #ff4306;
  --color-secondary-yellow: #ffcd57;
  --color-secondary-yellow: #ffcd57;

  --color-font-black: #222222;
  --color-font-gray-light: #666666;
  --color-font-gray-dark: #888888;
  --color-font-white-dark: #f1f4f8;
  --color-font-white-light: #ffffff;

  --color-bg-gray-light: #f0f0f0;
  --color-bg-gray-dark: #e6e6e6;
  --color-bg-white-light: #ffffff;

  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
  --font-noto-sans-tc: 'Noto Sans TC', sans-serif;

  --container-md: 414px;
  --container-8xl: 1600px;

  --animate-infinite-circle-r30-50s: infiniteCircle_30 50s linear infinite;
  --animate-infinite-circle-r30-100s: infiniteCircle_30 100s linear infinite;
  --animate-infinite-circle-r20-50s: infiniteCircle_20 50s linear infinite;
  --animate-infinite-circle-reverse-r30-50s: infiniteCircle_reverse_30 50s linear infinite;
  --animate-infinite-circle-reverse-r30-100s: infiniteCircle_reverse_30 100s linear infinite;
  --animate-infinite-circle-reverse-r20-50s: infiniteCircle_reverse_20 50s linear infinite;
  --animate-infinite-circle-reverse-r20-100s: infiniteCircle_reverse_20 100s linear infinite;
}
