@import url('@/settings/global.css');
@import url('@/settings/config.less');

.slider-container {
  @apply my-5 w-full bg-amber-400;

  .character {
    padding-bottom: ((unit(image-height(@img) / 2) / unit(image-width(@img))) * 100%);
    width: 100%;
    background-size: 100% auto;

    @img: './img/character-blue.png';
  }
}
