@import url('@/settings/global.css');
@import url('@/settings/config.less');

.slider-container {
  @apply relative my-5 w-full px-0 md:px-20;

  .character {
    padding-bottom: ((unit(image-height(@img) / 2) / unit(image-width(@img))) * 100%);

    @img: './img/character-blue.png';

    @apply relative w-full;

    .active {
      & > div {
        background-position-y: 100%;
      }
    }

    & > div {
      @apply absolute top-0 right-0 bottom-0 left-0 duration-200;

      & > div {
        background-position-y: 0%;
        background-size: 100% auto;
        @apply h-full w-full;
      }
    }
  }
}
