.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-MINER-WALK_00000 {
    width: 740px;
    height: 1039px;
    background-position: 0 0;
}

.sprite-MINER-WALK_00001 {
    width: 740px;
    height: 1039px;
    background-position: -740px 0;
}

.sprite-MINER-WALK_00002 {
    width: 740px;
    height: 1039px;
    background-position: -1480px 0;
}

.sprite-MINER-WALK_00003 {
    width: 740px;
    height: 1039px;
    background-position: -2220px 0;
}

.sprite-MINER-WALK_00004 {
    width: 740px;
    height: 1039px;
    background-position: -2960px 0;
}

.sprite-MINER-WALK_00005 {
    width: 740px;
    height: 1039px;
    background-position: -3700px 0;
}

.sprite-MINER-WALK_00006 {
    width: 740px;
    height: 1039px;
    background-position: 0 -1039px;
}

.sprite-MINER-WALK_00007 {
    width: 740px;
    height: 1039px;
    background-position: -740px -1039px;
}

.sprite-MINER-WALK_00008 {
    width: 740px;
    height: 1039px;
    background-position: -1480px -1039px;
}

.sprite-MINER-WALK_00009 {
    width: 740px;
    height: 1039px;
    background-position: -2220px -1039px;
}

.sprite-MINER-WALK_00010 {
    width: 740px;
    height: 1039px;
    background-position: -2960px -1039px;
}

.sprite-MINER-WALK_00011 {
    width: 740px;
    height: 1039px;
    background-position: -3700px -1039px;
}

.sprite-MINER-WALK_00012 {
    width: 740px;
    height: 1039px;
    background-position: 0 -2078px;
}

.sprite-MINER-WALK_00013 {
    width: 740px;
    height: 1039px;
    background-position: -740px -2078px;
}

.sprite-MINER-WALK_00014 {
    width: 740px;
    height: 1039px;
    background-position: -1480px -2078px;
}

.sprite-MINER-WALK_00015 {
    width: 740px;
    height: 1039px;
    background-position: -2220px -2078px;
}

.sprite-MINER-WALK_00016 {
    width: 740px;
    height: 1039px;
    background-position: -2960px -2078px;
}

.sprite-MINER-WALK_00017 {
    width: 740px;
    height: 1039px;
    background-position: -3700px -2078px;
}

.sprite-MINER-WALK_00018 {
    width: 740px;
    height: 1039px;
    background-position: 0 -3117px;
}

.sprite-MINER-WALK_00019 {
    width: 740px;
    height: 1039px;
    background-position: -740px -3117px;
}

.sprite-MINER-WALK_00020 {
    width: 740px;
    height: 1039px;
    background-position: -1480px -3117px;
}

.sprite-MINER-WALK_00021 {
    width: 740px;
    height: 1039px;
    background-position: -2220px -3117px;
}

.sprite-MINER-WALK_00022 {
    width: 740px;
    height: 1039px;
    background-position: -2960px -3117px;
}

.sprite-MINER-WALK_00023 {
    width: 740px;
    height: 1039px;
    background-position: -3700px -3117px;
}

.sprite-MINER-WALK_00024 {
    width: 740px;
    height: 1039px;
    background-position: -4440px 0;
}

.sprite-MINER-WALK_00025 {
    width: 740px;
    height: 1039px;
    background-position: -4440px -1039px;
}
