@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Header {
  @apply bg-font-white-light flex h-20 w-full flex-col justify-end;

  .header-logo {
    width: 222px;

    @img: './img/header-logo.svg';
    @apply relative flex;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--header-logo);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    @media only screen and (max-width: @SM) {
      & {
        width: 150px;
      }
    }
  }
}
