@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Navbar {
  .navbar-logo {
    width: 222px;

    @img: './img/navbar-logo.svg';
    @apply relative flex cursor-pointer;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--navbar-logo);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    &::hover {
      @apply bg-amber-400;
    }

    @media only screen and (max-width: @MD) {
      & {
        width: 150px;
      }
    }

    @media only screen and (max-width: @XS) {
      & {
        width: 36vw;
      }
    }

    @media only screen and (max-width: @XXS) {
      width: 115px;
    }
  }
}
