@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Items {
  @apply pointer-events-none absolute top-0 left-0 h-full w-full overflow-hidden;

  & > div {
    @apply invisible relative flex h-full w-full items-center;

    .content {
      transform: translateY(5vh);
      @apply absolute w-full;

      & > div {
        @apply absolute top-0 h-full;

        & > div {
          @apply absolute;

          &::before {
            content: '';
            @apply absolute top-0 w-full bg-contain bg-center bg-no-repeat;
          }

          .marker {
            top: -10vh;
            @apply pointer-events-auto absolute flex h-20 w-full items-end justify-center;

            .box {
              @apply h-20 w-20 shrink-0 animate-bounce bg-contain bg-center bg-no-repeat;
            }

            .pattern-icon-career {
              background-image: var(--pattern-icon-career);
              animation-delay: 0.5s;
            }

            .pattern-icon-finance {
              background-image: var(--pattern-icon-finance);
              animation-delay: -0.9s;
            }

            .pattern-icon-health {
              background-image: var(--pattern-icon-health);
              animation-delay: -0.5s;
            }

            .pattern-icon-relations {
              background-image: var(--pattern-icon-relations);
              animation-delay: -0.3s;
            }

            .pattern-icon-society {
              background-image: var(--pattern-icon-society);
              animation-delay: 0s;
            }
          }
        }

        .goldenRiceField-item-1 {
          width: (unit(image-height(@img))) / 1080 * 300vh;

          @img: '../../../../public/goldenRiceField-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-2 {
          width: (unit(image-height(@img))) / 1080 * 150vh;

          @img: '../../../../public/goldenRiceField-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
          }
        }

        .goldenRiceField-item-3 {
          width: (unit(image-height(@img))) / 1080 * 380vh;

          @img: '../../../../public/goldenRiceField-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
          }

          .marker > div {
            margin-left: -17%;
          }
        }

        .goldenRiceField-item-4 {
          width: (unit(image-height(@img))) / 1080 * 210vh;

          @img: '../../../../public/goldenRiceField-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-4);
          }

          .marker > div {
            margin-left: 30%;
          }
        }

        .goldenRiceField-item-5 {
          width: (unit(image-height(@img))) / 1080 * 210vh;

          @img: '../../../../public/goldenRiceField-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-5);
          }

          .marker > div {
            margin-left: 35%;
          }
        }

        .goldenRiceField-item-6 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/goldenRiceField-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-6);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-7 {
          width: (unit(image-height(@img))) / 1080 * 55vh;

          @img: '../../../../public/goldenRiceField-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-7);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-8 {
          width: (unit(image-height(@img))) / 1080 * 200vh;

          @img: '../../../../public/goldenRiceField-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-8);
          }

          .marker > div {
            margin-left: 20%;
          }
        }
      }
    }
  }
}
