@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Items {
  @apply pointer-events-none absolute top-0 left-0 h-full w-full overflow-hidden;

  & > div {
    @apply invisible relative flex h-full w-full items-center;

    .content {
      transform: translateY(5vh);
      @apply absolute w-full;

      & > div {
        @apply absolute top-0 h-full;

        & > div {
          @apply absolute;

          &::before {
            content: '';
            @apply absolute top-0 w-full bg-contain bg-center bg-no-repeat;
          }

          .marker {
            top: -10vh;
            @apply pointer-events-auto absolute flex h-20 w-full items-end justify-center;

            .box {
              filter: drop-shadow(0px 0px 20px #ffffff);

              @apply h-20 w-20 shrink-0 animate-bounce bg-contain bg-center bg-no-repeat;
            }

            .pattern-icon-career {
              background-image: var(--pattern-icon-career);
              animation-delay: 0.5s;
            }

            .pattern-icon-finance {
              background-image: var(--pattern-icon-finance);
              animation-delay: -0.9s;
            }

            .pattern-icon-health {
              background-image: var(--pattern-icon-health);
              animation-delay: -0.5s;
            }

            .pattern-icon-relations {
              background-image: var(--pattern-icon-relations);
              animation-delay: -0.3s;
            }

            .pattern-icon-society {
              background-image: var(--pattern-icon-society);
              animation-delay: 0s;
            }
          }
        }

        .goldenRiceField-item-1 {
          width: (unit(image-height(@img))) / 1080 * 300vh;

          @img: '../../../../public/scene-goldenRiceField-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-1);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-2 {
          width: (unit(image-height(@img))) / 1080 * 150vh;

          @img: '../../../../public/scene-goldenRiceField-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-2);
          }
        }

        .goldenRiceField-item-3 {
          width: (unit(image-height(@img))) / 1080 * 380vh;

          @img: '../../../../public/scene-goldenRiceField-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-3);
          }

          .marker > div {
            margin-left: -17%;
          }
        }

        .goldenRiceField-item-4 {
          width: (unit(image-height(@img))) / 1080 * 210vh;

          @img: '../../../../public/scene-goldenRiceField-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-4);
          }

          .marker > div {
            margin-left: 30%;
          }
        }

        .goldenRiceField-item-5 {
          width: (unit(image-height(@img))) / 1080 * 210vh;

          @img: '../../../../public/scene-goldenRiceField-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-5);
          }

          .marker > div {
            margin-left: 35%;
          }
        }

        .goldenRiceField-item-6 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/scene-goldenRiceField-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-6);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-7 {
          width: (unit(image-height(@img))) / 1080 * 55vh;

          @img: '../../../../public/scene-goldenRiceField-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-7);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .goldenRiceField-item-8 {
          width: (unit(image-height(@img))) / 1080 * 200vh;

          @img: '../../../../public/scene-goldenRiceField-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--goldenRiceField-item-8);
          }

          .marker > div {
            margin-left: 20%;
          }
        }

        .flowerSeaPlain-item-1 {
          width: (unit(image-height(@img))) / 1080 * 170vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-1);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-2 {
          width: (unit(image-height(@img))) / 1080 * 170vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-2);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-3 {
          width: (unit(image-height(@img))) / 1080 * 270vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-3);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-4 {
          width: (unit(image-height(@img))) / 1080 * 60vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-4);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-5 {
          width: (unit(image-height(@img))) / 1080 * 85vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-5);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-6 {
          width: (unit(image-height(@img))) / 1080 * 40vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-6);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-7 {
          width: (unit(image-height(@img))) / 1080 * 100vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-7);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .flowerSeaPlain-item-8 {
          width: (unit(image-height(@img))) / 1080 * 140vh;

          @img: '../../../../public/scene-flowerSeaPlain-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--flowerSeaPlain-item-8);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .azureCoast-item-1 {
          width: (unit(image-height(@img))) / 1080 * 220vh;

          @img: '../../../../public/scene-azureCoast-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-1);
          }

          .marker > div {
            margin-left: 30%;
          }
        }

        .azureCoast-item-2 {
          width: (unit(image-height(@img))) / 1080 * 50vh;

          @img: '../../../../public/scene-azureCoast-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-2);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .azureCoast-item-3 {
          width: (unit(image-height(@img))) / 1080 * 33vh;

          @img: '../../../../public/scene-azureCoast-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-3);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .azureCoast-item-4 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/scene-azureCoast-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-4);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .azureCoast-item-5 {
          width: (unit(image-height(@img))) / 1080 * 80vh;

          @img: '../../../../public/scene-azureCoast-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-5);
          }

          .marker > div {
            margin-left: 20%;
          }
        }

        .azureCoast-item-6 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/scene-azureCoast-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-6);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .azureCoast-item-7 {
          width: (unit(image-height(@img))) / 1080 * 140vh;

          @img: '../../../../public/scene-azureCoast-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-7);
          }

          .marker > div {
            margin-left: 20%;
          }
        }

        .azureCoast-item-8 {
          width: (unit(image-height(@img))) / 1080 * 160vh;

          @img: '../../../../public/scene-azureCoast-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--azureCoast-item-8);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-1 {
          width: (unit(image-height(@img))) / 1080 * 90vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-1);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-2 {
          width: (unit(image-height(@img))) / 1080 * 70vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-2);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-3 {
          width: (unit(image-height(@img))) / 1080 * 59vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-3);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-4 {
          width: (unit(image-height(@img))) / 1080 * 70vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-4);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-5 {
          width: (unit(image-height(@img))) / 1080 * 35vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-5);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-6 {
          width: (unit(image-height(@img))) / 1080 * 205vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-6);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-7 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-7);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .moonlitSnowfield-item-8 {
          width: (unit(image-height(@img))) / 1080 * 190vh;

          @img: '../../../../public/scene-moonlitSnowfield-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--moonlitSnowfield-item-8);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .lushForest-item-1 {
          width: (unit(image-height(@img))) / 1080 * 250vh;

          @img: '../../../../public/scene-lushForest-item-1.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-1);
          }

          .marker > div {
            margin-left: 0%;
          }
        }

        .lushForest-item-2 {
          width: (unit(image-height(@img))) / 1080 * 190vh;

          @img: '../../../../public/scene-lushForest-item-2.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-2);
          }

          .marker > div {
            margin-left: -45%;
          }
        }

        .lushForest-item-3 {
          width: (unit(image-height(@img))) / 1080 * 150vh;

          @img: '../../../../public/scene-lushForest-item-3.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-3);
          }

          .marker > div {
            margin-left: 35%;
          }
        }

        .lushForest-item-4 {
          width: (unit(image-height(@img))) / 1080 * 52vh;

          @img: '../../../../public/scene-lushForest-item-4.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-4);
          }

          .marker {
            margin-top: 20vh;
            & > div {
              margin-left: 0%;
            }
          }
        }

        .lushForest-item-5 {
          width: (unit(image-height(@img))) / 1080 * 41vh;

          @img: '../../../../public/scene-lushForest-item-5.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-5);
          }

          .marker {
            margin-top: 20vh;
            & > div {
              margin-left: 0%;
            }
          }
        }

        .lushForest-item-6 {
          width: (unit(image-height(@img))) / 1080 * 43vh;

          @img: '../../../../public/scene-lushForest-item-6.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-6);
          }

          .marker {
            margin-top: 20vh;
            & > div {
              margin-left: 0%;
            }
          }
        }

        .lushForest-item-7 {
          width: (unit(image-height(@img))) / 1080 * 260vh;

          @img: '../../../../public/scene-lushForest-item-7.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-7);
          }

          .marker > div {
            margin-left: 33%;
          }
        }

        .lushForest-item-8 {
          width: (unit(image-height(@img))) / 1080 * 120vh;

          @img: '../../../../public/scene-lushForest-item-8.png';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: var(--lushForest-item-8);
          }

          .marker > div {
            margin-left: 55%;
          }
        }
      }
    }
  }
}
