@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Miner {
  @apply flex w-full justify-center;

  .sprite {
    display: block;
    width: 740px;
    height: 1039px;
    background-image: var(--minerSprite);
    background-repeat: no-repeat;
    transform-origin: center top;
  }

  .sprite-MINER-WALK_00000 {
    background-position: 0 0;
  }

  .sprite-MINER-WALK_00001 {
    background-position: -740px 0;
  }

  .sprite-MINER-WALK_00002 {
    background-position: -1480px 0;
  }

  .sprite-MINER-WALK_00003 {
    background-position: -2220px 0;
  }

  .sprite-MINER-WALK_00004 {
    background-position: -2960px 0;
  }

  .sprite-MINER-WALK_00005 {
    background-position: -3700px 0;
  }

  .sprite-MINER-WALK_00006 {
    background-position: 0 -1039px;
  }

  .sprite-MINER-WALK_00007 {
    background-position: -740px -1039px;
  }

  .sprite-MINER-WALK_00008 {
    background-position: -1480px -1039px;
  }

  .sprite-MINER-WALK_00009 {
    background-position: -2220px -1039px;
  }

  .sprite-MINER-WALK_00010 {
    background-position: -2960px -1039px;
  }

  .sprite-MINER-WALK_00011 {
    background-position: -3700px -1039px;
  }

  .sprite-MINER-WALK_00012 {
    background-position: 0 -2078px;
  }

  .sprite-MINER-WALK_00013 {
    background-position: -740px -2078px;
  }

  .sprite-MINER-WALK_00014 {
    background-position: -1480px -2078px;
  }

  .sprite-MINER-WALK_00015 {
    background-position: -2220px -2078px;
  }

  .sprite-MINER-WALK_00016 {
    background-position: -2960px -2078px;
  }

  .sprite-MINER-WALK_00017 {
    background-position: -3700px -2078px;
  }

  .sprite-MINER-WALK_00018 {
    background-position: 0 -3117px;
  }

  .sprite-MINER-WALK_00019 {
    background-position: -740px -3117px;
  }

  .sprite-MINER-WALK_00020 {
    background-position: -1480px -3117px;
  }

  .sprite-MINER-WALK_00021 {
    background-position: -2220px -3117px;
  }

  .sprite-MINER-WALK_00022 {
    background-position: -2960px -3117px;
  }

  .sprite-MINER-WALK_00023 {
    background-position: -3700px -3117px;
  }

  .sprite-MINER-WALK_00024 {
    background-position: -4440px 0;
  }

  .sprite-MINER-WALK_00025 {
    background-position: -4440px -1039px;
  }
}
