@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Miner {
  @apply flex w-full justify-center;

  .sprite {
    display: block;
    width: 740px;
    height: 939px;
    background-image: var(--minerSprite);
    background-repeat: no-repeat;
    transform-origin: center top;
  }

  .sprite-MINER_WALK_01_00000 {
    background-position: 0 0;
  }

  .sprite-MINER_WALK_01_00001 {
    background-position: -740px 0;
  }

  .sprite-MINER_WALK_01_00002 {
    background-position: -1480px 0;
  }

  .sprite-MINER_WALK_01_00003 {
    background-position: -2220px 0;
  }

  .sprite-MINER_WALK_01_00004 {
    background-position: -2960px 0;
  }

  .sprite-MINER_WALK_01_00005 {
    background-position: 0 -939px;
  }

  .sprite-MINER_WALK_01_00006 {
    background-position: -740px -939px;
  }

  .sprite-MINER_WALK_01_00007 {
    background-position: -1480px -939px;
  }

  .sprite-MINER_WALK_01_00008 {
    background-position: -2220px -939px;
  }

  .sprite-MINER_WALK_01_00009 {
    background-position: -2960px -939px;
  }

  .sprite-MINER_WALK_01_00010 {
    background-position: 0 -1878px;
  }

  .sprite-MINER_WALK_01_00011 {
    background-position: -740px -1878px;
  }

  .sprite-MINER_WALK_01_00012 {
    background-position: -1480px -1878px;
  }

  .sprite-MINER_WALK_01_00013 {
    background-position: -2220px -1878px;
  }

  .sprite-MINER_WALK_01_00014 {
    background-position: -2960px -1878px;
  }

  .sprite-MINER_WALK_01_00015 {
    background-position: 0 -2817px;
  }

  .sprite-MINER_WALK_01_00016 {
    background-position: -740px -2817px;
  }

  .sprite-MINER_WALK_01_00017 {
    background-position: -1480px -2817px;
  }

  .sprite-MINER_WALK_01_00018 {
    background-position: -2220px -2817px;
  }

  .sprite-MINER_WALK_01_00019 {
    background-position: -2960px -2817px;
  }

  .sprite-MINER_WALK_01_00020 {
    background-position: -3700px 0;
  }

  .sprite-MINER_WALK_01_00021 {
    background-position: -3700px -939px;
  }

  .sprite-MINER_WALK_01_00022 {
    background-position: -3700px -1878px;
  }

  .sprite-MINER_WALK_01_00023 {
    background-position: -3700px -2817px;
  }

  .sprite-MINER_WALK_01_00024 {
    background-position: 0 -3756px;
  }
}
