@keyframes infiniteCircle_30 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(-0.11px) translateY(5.21px) rotate(5deg);
  }
  3% {
    transform: translateX(-0.46px) translateY(10.26px) rotate(10deg);
  }
  4% {
    transform: translateX(-1.02px) translateY(15px) rotate(15deg);
  }
  6% {
    transform: translateX(-1.81px) translateY(19.28px) rotate(20deg);
  }
  7% {
    transform: translateX(-2.81px) translateY(22.98px) rotate(25deg);
  }
  8% {
    transform: translateX(-4.02px) translateY(25.98px) rotate(30deg);
  }
  10% {
    transform: translateX(-5.43px) translateY(28.19px) rotate(35deg);
  }
  11% {
    transform: translateX(-7.02px) translateY(29.54px) rotate(40deg);
  }
  13% {
    transform: translateX(-8.79px) translateY(30px) rotate(45deg);
  }
  14% {
    transform: translateX(-10.72px) translateY(29.54px) rotate(50deg);
  }
  15% {
    transform: translateX(-12.79px) translateY(28.19px) rotate(55deg);
  }
  17% {
    transform: translateX(-15px) translateY(25.98px) rotate(60deg);
  }
  18% {
    transform: translateX(-17.32px) translateY(22.98px) rotate(65deg);
  }
  19% {
    transform: translateX(-19.74px) translateY(19.28px) rotate(70deg);
  }
  21% {
    transform: translateX(-22.24px) translateY(15px) rotate(75deg);
  }
  22% {
    transform: translateX(-24.79px) translateY(10.26px) rotate(80deg);
  }
  24% {
    transform: translateX(-27.39px) translateY(5.21px) rotate(85deg);
  }
  25% {
    transform: translateX(-30px) translateY(0px) rotate(90deg);
  }
  26% {
    transform: translateX(-32.61px) translateY(-5.21px) rotate(95deg);
  }
  28% {
    transform: translateX(-35.21px) translateY(-10.26px) rotate(100deg);
  }
  29% {
    transform: translateX(-37.76px) translateY(-15px) rotate(105deg);
  }
  31% {
    transform: translateX(-40.26px) translateY(-19.28px) rotate(110deg);
  }
  32% {
    transform: translateX(-42.68px) translateY(-22.98px) rotate(115deg);
  }
  33% {
    transform: translateX(-45px) translateY(-25.98px) rotate(120deg);
  }
  35% {
    transform: translateX(-47.21px) translateY(-28.19px) rotate(125deg);
  }
  36% {
    transform: translateX(-49.28px) translateY(-29.54px) rotate(130deg);
  }
  38% {
    transform: translateX(-51.21px) translateY(-30px) rotate(135deg);
  }
  39% {
    transform: translateX(-52.98px) translateY(-29.54px) rotate(140deg);
  }
  40% {
    transform: translateX(-54.57px) translateY(-28.19px) rotate(145deg);
  }
  42% {
    transform: translateX(-55.98px) translateY(-25.98px) rotate(150deg);
  }
  43% {
    transform: translateX(-57.19px) translateY(-22.98px) rotate(155deg);
  }
  44% {
    transform: translateX(-58.19px) translateY(-19.28px) rotate(160deg);
  }
  46% {
    transform: translateX(-58.98px) translateY(-15px) rotate(165deg);
  }
  47% {
    transform: translateX(-59.54px) translateY(-10.26px) rotate(170deg);
  }
  49% {
    transform: translateX(-59.89px) translateY(-5.21px) rotate(175deg);
  }
  50% {
    transform: translateX(-60px) translateY(-0px) rotate(180deg);
  }
  51% {
    transform: translateX(-59.89px) translateY(5.21px) rotate(185deg);
  }
  53% {
    transform: translateX(-59.54px) translateY(10.26px) rotate(190deg);
  }
  54% {
    transform: translateX(-58.98px) translateY(15px) rotate(195deg);
  }
  56% {
    transform: translateX(-58.19px) translateY(19.28px) rotate(200deg);
  }
  57% {
    transform: translateX(-57.19px) translateY(22.98px) rotate(205deg);
  }
  58% {
    transform: translateX(-55.98px) translateY(25.98px) rotate(210deg);
  }
  60% {
    transform: translateX(-54.57px) translateY(28.19px) rotate(215deg);
  }
  61% {
    transform: translateX(-52.98px) translateY(29.54px) rotate(220deg);
  }
  63% {
    transform: translateX(-51.21px) translateY(30px) rotate(225deg);
  }
  64% {
    transform: translateX(-49.28px) translateY(29.54px) rotate(230deg);
  }
  65% {
    transform: translateX(-47.21px) translateY(28.19px) rotate(235deg);
  }
  67% {
    transform: translateX(-45px) translateY(25.98px) rotate(240deg);
  }
  68% {
    transform: translateX(-42.68px) translateY(22.98px) rotate(245deg);
  }
  69% {
    transform: translateX(-40.26px) translateY(19.28px) rotate(250deg);
  }
  71% {
    transform: translateX(-37.76px) translateY(15px) rotate(255deg);
  }
  72% {
    transform: translateX(-35.21px) translateY(10.26px) rotate(260deg);
  }
  74% {
    transform: translateX(-32.61px) translateY(5.21px) rotate(265deg);
  }
  75% {
    transform: translateX(-30px) translateY(0px) rotate(270deg);
  }
  76% {
    transform: translateX(-27.39px) translateY(-5.21px) rotate(275deg);
  }
  78% {
    transform: translateX(-24.79px) translateY(-10.26px) rotate(280deg);
  }
  79% {
    transform: translateX(-22.24px) translateY(-15px) rotate(285deg);
  }
  81% {
    transform: translateX(-19.74px) translateY(-19.28px) rotate(290deg);
  }
  82% {
    transform: translateX(-17.32px) translateY(-22.98px) rotate(295deg);
  }
  83% {
    transform: translateX(-15px) translateY(-25.98px) rotate(300deg);
  }
  85% {
    transform: translateX(-12.79px) translateY(-28.19px) rotate(305deg);
  }
  86% {
    transform: translateX(-10.72px) translateY(-29.54px) rotate(310deg);
  }
  88% {
    transform: translateX(-8.79px) translateY(-30px) rotate(315deg);
  }
  89% {
    transform: translateX(-7.02px) translateY(-29.54px) rotate(320deg);
  }
  90% {
    transform: translateX(-5.43px) translateY(-28.19px) rotate(325deg);
  }
  92% {
    transform: translateX(-4.02px) translateY(-25.98px) rotate(330deg);
  }
  93% {
    transform: translateX(-2.81px) translateY(-22.98px) rotate(335deg);
  }
  94% {
    transform: translateX(-1.81px) translateY(-19.28px) rotate(340deg);
  }
  96% {
    transform: translateX(-1.02px) translateY(-15px) rotate(345deg);
  }
  97% {
    transform: translateX(-0.46px) translateY(-10.26px) rotate(350deg);
  }
  99% {
    transform: translateX(-0.11px) translateY(-5.21px) rotate(355deg);
  }
  100% {
    transform: translateX(0px) translateY(-0px) rotate(360deg);
  }
}

@keyframes infiniteCircle_20 {
  0% {
    transform: translateX(40px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(39.92px) translateY(3.47px) rotate(5deg);
  }
  3% {
    transform: translateX(39.7px) translateY(6.84px) rotate(10deg);
  }
  4% {
    transform: translateX(39.32px) translateY(10px) rotate(15deg);
  }
  6% {
    transform: translateX(38.79px) translateY(12.86px) rotate(20deg);
  }
  7% {
    transform: translateX(38.13px) translateY(15.32px) rotate(25deg);
  }
  8% {
    transform: translateX(37.32px) translateY(17.32px) rotate(30deg);
  }
  10% {
    transform: translateX(36.38px) translateY(18.79px) rotate(35deg);
  }
  11% {
    transform: translateX(35.32px) translateY(19.7px) rotate(40deg);
  }
  13% {
    transform: translateX(34.14px) translateY(20px) rotate(45deg);
  }
  14% {
    transform: translateX(32.86px) translateY(19.7px) rotate(50deg);
  }
  15% {
    transform: translateX(31.47px) translateY(18.79px) rotate(55deg);
  }
  17% {
    transform: translateX(30px) translateY(17.32px) rotate(60deg);
  }
  18% {
    transform: translateX(28.45px) translateY(15.32px) rotate(65deg);
  }
  19% {
    transform: translateX(26.84px) translateY(12.86px) rotate(70deg);
  }
  21% {
    transform: translateX(25.18px) translateY(10px) rotate(75deg);
  }
  22% {
    transform: translateX(23.47px) translateY(6.84px) rotate(80deg);
  }
  24% {
    transform: translateX(21.74px) translateY(3.47px) rotate(85deg);
  }
  25% {
    transform: translateX(20px) translateY(0px) rotate(90deg);
  }
  26% {
    transform: translateX(18.26px) translateY(-3.47px) rotate(95deg);
  }
  28% {
    transform: translateX(16.53px) translateY(-6.84px) rotate(100deg);
  }
  29% {
    transform: translateX(14.82px) translateY(-10px) rotate(105deg);
  }
  31% {
    transform: translateX(13.16px) translateY(-12.86px) rotate(110deg);
  }
  32% {
    transform: translateX(11.55px) translateY(-15.32px) rotate(115deg);
  }
  33% {
    transform: translateX(10px) translateY(-17.32px) rotate(120deg);
  }
  35% {
    transform: translateX(8.53px) translateY(-18.79px) rotate(125deg);
  }
  36% {
    transform: translateX(7.14px) translateY(-19.7px) rotate(130deg);
  }
  38% {
    transform: translateX(5.86px) translateY(-20px) rotate(135deg);
  }
  39% {
    transform: translateX(4.68px) translateY(-19.7px) rotate(140deg);
  }
  40% {
    transform: translateX(3.62px) translateY(-18.79px) rotate(145deg);
  }
  42% {
    transform: translateX(2.68px) translateY(-17.32px) rotate(150deg);
  }
  43% {
    transform: translateX(1.87px) translateY(-15.32px) rotate(155deg);
  }
  44% {
    transform: translateX(1.21px) translateY(-12.86px) rotate(160deg);
  }
  46% {
    transform: translateX(0.68px) translateY(-10px) rotate(165deg);
  }
  47% {
    transform: translateX(0.3px) translateY(-6.84px) rotate(170deg);
  }
  49% {
    transform: translateX(0.08px) translateY(-3.47px) rotate(175deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(180deg);
  }
  51% {
    transform: translateX(0.08px) translateY(3.47px) rotate(185deg);
  }
  53% {
    transform: translateX(0.3px) translateY(6.84px) rotate(190deg);
  }
  54% {
    transform: translateX(0.68px) translateY(10px) rotate(195deg);
  }
  56% {
    transform: translateX(1.21px) translateY(12.86px) rotate(200deg);
  }
  57% {
    transform: translateX(1.87px) translateY(15.32px) rotate(205deg);
  }
  58% {
    transform: translateX(2.68px) translateY(17.32px) rotate(210deg);
  }
  60% {
    transform: translateX(3.62px) translateY(18.79px) rotate(215deg);
  }
  61% {
    transform: translateX(4.68px) translateY(19.7px) rotate(220deg);
  }
  63% {
    transform: translateX(5.86px) translateY(20px) rotate(225deg);
  }
  64% {
    transform: translateX(7.14px) translateY(19.7px) rotate(230deg);
  }
  65% {
    transform: translateX(8.53px) translateY(18.79px) rotate(235deg);
  }
  67% {
    transform: translateX(10px) translateY(17.32px) rotate(240deg);
  }
  68% {
    transform: translateX(11.55px) translateY(15.32px) rotate(245deg);
  }
  69% {
    transform: translateX(13.16px) translateY(12.86px) rotate(250deg);
  }
  71% {
    transform: translateX(14.82px) translateY(10px) rotate(255deg);
  }
  72% {
    transform: translateX(16.53px) translateY(6.84px) rotate(260deg);
  }
  74% {
    transform: translateX(18.26px) translateY(3.47px) rotate(265deg);
  }
  75% {
    transform: translateX(20px) translateY(0px) rotate(270deg);
  }
  76% {
    transform: translateX(21.74px) translateY(-3.47px) rotate(275deg);
  }
  78% {
    transform: translateX(23.47px) translateY(-6.84px) rotate(280deg);
  }
  79% {
    transform: translateX(25.18px) translateY(-10px) rotate(285deg);
  }
  81% {
    transform: translateX(26.84px) translateY(-12.86px) rotate(290deg);
  }
  82% {
    transform: translateX(28.45px) translateY(-15.32px) rotate(295deg);
  }
  83% {
    transform: translateX(30px) translateY(-17.32px) rotate(300deg);
  }
  85% {
    transform: translateX(31.47px) translateY(-18.79px) rotate(305deg);
  }
  86% {
    transform: translateX(32.86px) translateY(-19.7px) rotate(310deg);
  }
  88% {
    transform: translateX(34.14px) translateY(-20px) rotate(315deg);
  }
  89% {
    transform: translateX(35.32px) translateY(-19.7px) rotate(320deg);
  }
  90% {
    transform: translateX(36.38px) translateY(-18.79px) rotate(325deg);
  }
  92% {
    transform: translateX(37.32px) translateY(-17.32px) rotate(330deg);
  }
  93% {
    transform: translateX(38.13px) translateY(-15.32px) rotate(335deg);
  }
  94% {
    transform: translateX(38.79px) translateY(-12.86px) rotate(340deg);
  }
  96% {
    transform: translateX(39.32px) translateY(-10px) rotate(345deg);
  }
  97% {
    transform: translateX(39.7px) translateY(-6.84px) rotate(350deg);
  }
  99% {
    transform: translateX(39.92px) translateY(-3.47px) rotate(355deg);
  }
  100% {
    transform: translateX(40px) translateY(-0px) rotate(360deg);
  }
}

@keyframes infiniteCircle_reverse_30 {
  0% {
    transform: translateX(60px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(59.89px) translateY(5.21px) rotate(-5.21deg);
  }
  3% {
    transform: translateX(59.54px) translateY(10.26px) rotate(-10.26deg);
  }
  4% {
    transform: translateX(58.98px) translateY(15px) rotate(-15deg);
  }
  6% {
    transform: translateX(58.19px) translateY(19.28px) rotate(-19.28deg);
  }
  7% {
    transform: translateX(57.19px) translateY(22.98px) rotate(-22.98deg);
  }
  8% {
    transform: translateX(55.98px) translateY(25.98px) rotate(-25.98deg);
  }
  10% {
    transform: translateX(54.57px) translateY(28.19px) rotate(-28.19deg);
  }
  11% {
    transform: translateX(52.98px) translateY(29.54px) rotate(-29.54deg);
  }
  13% {
    transform: translateX(51.21px) translateY(30px) rotate(-30deg);
  }
  14% {
    transform: translateX(49.28px) translateY(29.54px) rotate(-29.54deg);
  }
  15% {
    transform: translateX(47.21px) translateY(28.19px) rotate(-28.19deg);
  }
  17% {
    transform: translateX(45px) translateY(25.98px) rotate(-25.98deg);
  }
  18% {
    transform: translateX(42.68px) translateY(22.98px) rotate(-22.98deg);
  }
  19% {
    transform: translateX(40.26px) translateY(19.28px) rotate(-19.28deg);
  }
  21% {
    transform: translateX(37.76px) translateY(15px) rotate(-15deg);
  }
  22% {
    transform: translateX(35.21px) translateY(10.26px) rotate(-10.26deg);
  }
  24% {
    transform: translateX(32.61px) translateY(5.21px) rotate(-5.21deg);
  }
  25% {
    transform: translateX(30px) translateY(0px) rotate(0deg);
  }
  26% {
    transform: translateX(27.39px) translateY(-5.21px) rotate(5.21deg);
  }
  28% {
    transform: translateX(24.79px) translateY(-10.26px) rotate(10.26deg);
  }
  29% {
    transform: translateX(22.24px) translateY(-15px) rotate(15deg);
  }
  31% {
    transform: translateX(19.74px) translateY(-19.28px) rotate(19.28deg);
  }
  32% {
    transform: translateX(17.32px) translateY(-22.98px) rotate(22.98deg);
  }
  33% {
    transform: translateX(15px) translateY(-25.98px) rotate(25.98deg);
  }
  35% {
    transform: translateX(12.79px) translateY(-28.19px) rotate(28.19deg);
  }
  36% {
    transform: translateX(10.72px) translateY(-29.54px) rotate(29.54deg);
  }
  38% {
    transform: translateX(8.79px) translateY(-30px) rotate(30deg);
  }
  39% {
    transform: translateX(7.02px) translateY(-29.54px) rotate(29.54deg);
  }
  40% {
    transform: translateX(5.43px) translateY(-28.19px) rotate(28.19deg);
  }
  42% {
    transform: translateX(4.02px) translateY(-25.98px) rotate(25.98deg);
  }
  43% {
    transform: translateX(2.81px) translateY(-22.98px) rotate(22.98deg);
  }
  44% {
    transform: translateX(1.81px) translateY(-19.28px) rotate(19.28deg);
  }
  46% {
    transform: translateX(1.02px) translateY(-15px) rotate(15deg);
  }
  47% {
    transform: translateX(0.46px) translateY(-10.26px) rotate(10.26deg);
  }
  49% {
    transform: translateX(0.11px) translateY(-5.21px) rotate(5.21deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(0deg);
  }
  51% {
    transform: translateX(0.11px) translateY(5.21px) rotate(-5.21deg);
  }
  53% {
    transform: translateX(0.46px) translateY(10.26px) rotate(-10.26deg);
  }
  54% {
    transform: translateX(1.02px) translateY(15px) rotate(-15deg);
  }
  56% {
    transform: translateX(1.81px) translateY(19.28px) rotate(-19.28deg);
  }
  57% {
    transform: translateX(2.81px) translateY(22.98px) rotate(-22.98deg);
  }
  58% {
    transform: translateX(4.02px) translateY(25.98px) rotate(-25.98deg);
  }
  60% {
    transform: translateX(5.43px) translateY(28.19px) rotate(-28.19deg);
  }
  61% {
    transform: translateX(7.02px) translateY(29.54px) rotate(-29.54deg);
  }
  63% {
    transform: translateX(8.79px) translateY(30px) rotate(-30deg);
  }
  64% {
    transform: translateX(10.72px) translateY(29.54px) rotate(-29.54deg);
  }
  65% {
    transform: translateX(12.79px) translateY(28.19px) rotate(-28.19deg);
  }
  67% {
    transform: translateX(15px) translateY(25.98px) rotate(-25.98deg);
  }
  68% {
    transform: translateX(17.32px) translateY(22.98px) rotate(-22.98deg);
  }
  69% {
    transform: translateX(19.74px) translateY(19.28px) rotate(-19.28deg);
  }
  71% {
    transform: translateX(22.24px) translateY(15px) rotate(-15deg);
  }
  72% {
    transform: translateX(24.79px) translateY(10.26px) rotate(-10.26deg);
  }
  74% {
    transform: translateX(27.39px) translateY(5.21px) rotate(-5.21deg);
  }
  75% {
    transform: translateX(30px) translateY(0px) rotate(0deg);
  }
  76% {
    transform: translateX(32.61px) translateY(-5.21px) rotate(5.21deg);
  }
  78% {
    transform: translateX(35.21px) translateY(-10.26px) rotate(10.26deg);
  }
  79% {
    transform: translateX(37.76px) translateY(-15px) rotate(15deg);
  }
  81% {
    transform: translateX(40.26px) translateY(-19.28px) rotate(19.28deg);
  }
  82% {
    transform: translateX(42.68px) translateY(-22.98px) rotate(22.98deg);
  }
  83% {
    transform: translateX(45px) translateY(-25.98px) rotate(25.98deg);
  }
  85% {
    transform: translateX(47.21px) translateY(-28.19px) rotate(28.19deg);
  }
  86% {
    transform: translateX(49.28px) translateY(-29.54px) rotate(29.54deg);
  }
  88% {
    transform: translateX(51.21px) translateY(-30px) rotate(30deg);
  }
  89% {
    transform: translateX(52.98px) translateY(-29.54px) rotate(29.54deg);
  }
  90% {
    transform: translateX(54.57px) translateY(-28.19px) rotate(28.19deg);
  }
  92% {
    transform: translateX(55.98px) translateY(-25.98px) rotate(25.98deg);
  }
  93% {
    transform: translateX(57.19px) translateY(-22.98px) rotate(22.98deg);
  }
  94% {
    transform: translateX(58.19px) translateY(-19.28px) rotate(19.28deg);
  }
  96% {
    transform: translateX(58.98px) translateY(-15px) rotate(15deg);
  }
  97% {
    transform: translateX(59.54px) translateY(-10.26px) rotate(10.26deg);
  }
  99% {
    transform: translateX(59.89px) translateY(-5.21px) rotate(5.21deg);
  }
  100% {
    transform: translateX(60px) translateY(-0px) rotate(0deg);
  }
}

@keyframes infiniteCircle_reverse_20 {
  0% {
    transform: translateX(40px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(39.92px) translateY(3.47px) rotate(-5deg);
  }
  3% {
    transform: translateX(39.7px) translateY(6.84px) rotate(-10deg);
  }
  4% {
    transform: translateX(39.32px) translateY(10px) rotate(-15deg);
  }
  6% {
    transform: translateX(38.79px) translateY(12.86px) rotate(-20deg);
  }
  7% {
    transform: translateX(38.13px) translateY(15.32px) rotate(-25deg);
  }
  8% {
    transform: translateX(37.32px) translateY(17.32px) rotate(-30deg);
  }
  10% {
    transform: translateX(36.38px) translateY(18.79px) rotate(-35deg);
  }
  11% {
    transform: translateX(35.32px) translateY(19.7px) rotate(-40deg);
  }
  13% {
    transform: translateX(34.14px) translateY(20px) rotate(-45deg);
  }
  14% {
    transform: translateX(32.86px) translateY(19.7px) rotate(-50deg);
  }
  15% {
    transform: translateX(31.47px) translateY(18.79px) rotate(-55deg);
  }
  17% {
    transform: translateX(30px) translateY(17.32px) rotate(-60deg);
  }
  18% {
    transform: translateX(28.45px) translateY(15.32px) rotate(-65deg);
  }
  19% {
    transform: translateX(26.84px) translateY(12.86px) rotate(-70deg);
  }
  21% {
    transform: translateX(25.18px) translateY(10px) rotate(-75deg);
  }
  22% {
    transform: translateX(23.47px) translateY(6.84px) rotate(-80deg);
  }
  24% {
    transform: translateX(21.74px) translateY(3.47px) rotate(-85deg);
  }
  25% {
    transform: translateX(20px) translateY(0px) rotate(-90deg);
  }
  26% {
    transform: translateX(18.26px) translateY(-3.47px) rotate(-95deg);
  }
  28% {
    transform: translateX(16.53px) translateY(-6.84px) rotate(-100deg);
  }
  29% {
    transform: translateX(14.82px) translateY(-10px) rotate(-105deg);
  }
  31% {
    transform: translateX(13.16px) translateY(-12.86px) rotate(-110deg);
  }
  32% {
    transform: translateX(11.55px) translateY(-15.32px) rotate(-115deg);
  }
  33% {
    transform: translateX(10px) translateY(-17.32px) rotate(-120deg);
  }
  35% {
    transform: translateX(8.53px) translateY(-18.79px) rotate(-125deg);
  }
  36% {
    transform: translateX(7.14px) translateY(-19.7px) rotate(-130deg);
  }
  38% {
    transform: translateX(5.86px) translateY(-20px) rotate(-135deg);
  }
  39% {
    transform: translateX(4.68px) translateY(-19.7px) rotate(-140deg);
  }
  40% {
    transform: translateX(3.62px) translateY(-18.79px) rotate(-145deg);
  }
  42% {
    transform: translateX(2.68px) translateY(-17.32px) rotate(-150deg);
  }
  43% {
    transform: translateX(1.87px) translateY(-15.32px) rotate(-155deg);
  }
  44% {
    transform: translateX(1.21px) translateY(-12.86px) rotate(-160deg);
  }
  46% {
    transform: translateX(0.68px) translateY(-10px) rotate(-165deg);
  }
  47% {
    transform: translateX(0.3px) translateY(-6.84px) rotate(-170deg);
  }
  49% {
    transform: translateX(0.08px) translateY(-3.47px) rotate(-175deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(-180deg);
  }
  51% {
    transform: translateX(0.08px) translateY(3.47px) rotate(-185deg);
  }
  53% {
    transform: translateX(0.3px) translateY(6.84px) rotate(-190deg);
  }
  54% {
    transform: translateX(0.68px) translateY(10px) rotate(-195deg);
  }
  56% {
    transform: translateX(1.21px) translateY(12.86px) rotate(-200deg);
  }
  57% {
    transform: translateX(1.87px) translateY(15.32px) rotate(-205deg);
  }
  58% {
    transform: translateX(2.68px) translateY(17.32px) rotate(-210deg);
  }
  60% {
    transform: translateX(3.62px) translateY(18.79px) rotate(-215deg);
  }
  61% {
    transform: translateX(4.68px) translateY(19.7px) rotate(-220deg);
  }
  63% {
    transform: translateX(5.86px) translateY(20px) rotate(-225deg);
  }
  64% {
    transform: translateX(7.14px) translateY(19.7px) rotate(-230deg);
  }
  65% {
    transform: translateX(8.53px) translateY(18.79px) rotate(-235deg);
  }
  67% {
    transform: translateX(10px) translateY(17.32px) rotate(-240deg);
  }
  68% {
    transform: translateX(11.55px) translateY(15.32px) rotate(-245deg);
  }
  69% {
    transform: translateX(13.16px) translateY(12.86px) rotate(-250deg);
  }
  71% {
    transform: translateX(14.82px) translateY(10px) rotate(-255deg);
  }
  72% {
    transform: translateX(16.53px) translateY(6.84px) rotate(-260deg);
  }
  74% {
    transform: translateX(18.26px) translateY(3.47px) rotate(-265deg);
  }
  75% {
    transform: translateX(20px) translateY(0px) rotate(-270deg);
  }
  76% {
    transform: translateX(21.74px) translateY(-3.47px) rotate(-275deg);
  }
  78% {
    transform: translateX(23.47px) translateY(-6.84px) rotate(-280deg);
  }
  79% {
    transform: translateX(25.18px) translateY(-10px) rotate(-285deg);
  }
  81% {
    transform: translateX(26.84px) translateY(-12.86px) rotate(-290deg);
  }
  82% {
    transform: translateX(28.45px) translateY(-15.32px) rotate(-295deg);
  }
  83% {
    transform: translateX(30px) translateY(-17.32px) rotate(-300deg);
  }
  85% {
    transform: translateX(31.47px) translateY(-18.79px) rotate(-305deg);
  }
  86% {
    transform: translateX(32.86px) translateY(-19.7px) rotate(-310deg);
  }
  88% {
    transform: translateX(34.14px) translateY(-20px) rotate(-315deg);
  }
  89% {
    transform: translateX(35.32px) translateY(-19.7px) rotate(-320deg);
  }
  90% {
    transform: translateX(36.38px) translateY(-18.79px) rotate(-325deg);
  }
  92% {
    transform: translateX(37.32px) translateY(-17.32px) rotate(-330deg);
  }
  93% {
    transform: translateX(38.13px) translateY(-15.32px) rotate(-335deg);
  }
  94% {
    transform: translateX(38.79px) translateY(-12.86px) rotate(-340deg);
  }
  96% {
    transform: translateX(39.32px) translateY(-10px) rotate(-345deg);
  }
  97% {
    transform: translateX(39.7px) translateY(-6.84px) rotate(-350deg);
  }
  99% {
    transform: translateX(39.92px) translateY(-3.47px) rotate(-355deg);
  }
  100% {
    transform: translateX(40px) translateY(-0px) rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPy {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
