@import url('../../tailwind.config.css');
@import url('./animation.less');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;
}

#immersive_experience_section {
  min-width: 320px;

  @apply font-roboto-condensed absolute h-full w-full overflow-hidden;
}
