@import url('../../tailwind.config.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;
}

.App {
  @apply font-roboto-condensed absolute h-full w-full;
}
