.LoadingProcess {
  .balls {
    mask-image: var(--loading-icon);
  }
  .bars {
    mask-image: var(--loading-icon);
  }
  .bubbles {
    mask-image: var(--loading-icon);
  }
  .cubes {
    mask-image: var(--loading-icon);
  }
  .cylon {
    mask-image: var(--loading-icon);
  }
  .spin {
    mask-image: var(--loading-icon);
  }
  .spinningBubbles {
    mask-image: var(--loading-icon);
  }
  .spokes {
    mask-image: var(--loading-icon);
  }
}
